name: CI

on:
  push:
    branches: [ "main" ]
  pull_request_target:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        version: [us]

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Update Submodules
      run: git submodule update --init --recursive

    - name: Fetch Secrets
      uses: actions/checkout@v4
      with:
        repository: ${{ secrets.SECRET_REPO }}
        token: ${{ secrets.SECRET_TOKEN }}
        path: secret_repo

    - name: Decrypt Secrets
      working-directory: secret_repo
      run: ./decrypt_secret.sh && cp baserom.us.z64 ..
      env:
          PASSPHRASE: ${{ secrets.SECRET_PASSPHRASE }}
    
    - name: Install Packages
      run: sudo apt-get install -y git make git build-essential binutils-mips-linux-gnu python3 python3-pip

    - name: Build Dependencies
      run: make dependencies

    - name: Build
      run: make extract; make

    - name: Generate Progress Report
      run: python3 -m mapfile_parser objdiff_report --version ${{ matrix.version }}

    - name: Upload Progress Report
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.version }}_report
        path: build/progress.json
      
    - name: Cleanup
      run: rm -f baserom.us.z64

